<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">-->
    <script src="./vue.min.js"></script>
    <link rel="stylesheet" href="bulma.min.css"/>
</head>
<body>

<div class="container">
    <section class="hero">
        <div class="hero-body">
            <button id="execute" class="button is-primary">ファイル出力</button>
            <main id="main">
                <div v-for="team in teams">
                    <label>
                        <input type="checkbox" v-model="selected_teams" :value="team.code"/>
                        {{team.city}}&nbsp;{{team.name}}
                    </label>
                </div>
            </main>
        </div>
    </section>
</div>
<script src="./events.js"></script>
</body>
</html>
